* {
  box-sizing: border-box;
}

.gameboard {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.gameboard > div {
  display: grid;
  place-items: center;
  font-size: 5rem;
  border: 1px solid black;
}

.hide {
  display: none;
}